<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
</head>
<body>
<header>
    <h1>Nuestra Tienda</h1> 
</header>
<div id="productos" class="productos">
</div> 
<h2>Carrito</h2>  
<p>------------------------------------------------------------------------------------------------------</p>
<div id="carrito" class="productos">
</div>  
<div id = "total" class = "total">
</div>
<script src="../src/app.js"></script>
</html>