

.galeria {
  /* padding: 0 6px;
  width: 24.99999%; */
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

div.contenedor-imagen img {
  width: 100%;
  height: auto;
}

.responsive {
  max-width: 20%;
}
